[submodule "automatic/github.com/onsi/gomega"]
	path = automatic/github.com/onsi/gomega
	url = git@github.com:onsi/gomega
[submodule "automatic/github.com/onsi/ginkgo"]
	path = automatic/github.com/onsi/ginkgo
	url = git@github.com:onsi/ginkgo
